<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="FistCore.Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
 </configSections>
	<applicationSettings>
		<FistCore.Generator.Properties.Settings>
   <setting name="GeneratorCtl_DefaultOutputFolder" serializeAs="String">
    <value>.\GeneratorOutput</value>
   </setting>
   <setting name="TemplateCtl_DefaultTemplateFolder" serializeAs="String">
    <value>Templates</value>
   </setting>
   <setting name="ProjectController_NewOrmProjectFile" serializeAs="String">
    <value>NewOrmProject.xml</value>
   </setting>
   <setting name="ProjectController_NewDotNetProjectFile" serializeAs="String">
    <value>NewDotNetProject.xml</value>
   </setting>
   <setting name="ProjectController_NewAspNetProjectFile" serializeAs="String">
    <value>NewAspNetProject.xml</value>
   </setting>
   <setting name="AssemblyItemListCtl_AssemblyItemCriteria_RequiredInterfaces"
    serializeAs="String">
    <value>IBusinessObject</value>
   </setting>
   <setting name="ProjectController_NewOrmAndBlProjectFile" serializeAs="String">
    <value>NewOrmAndBlProject.xml</value>
   </setting>
   <setting name="DbProjectCtl_SuppressedVariables" serializeAs="String">
    <value>OutputSubdirectory;SingleFile</value>
   </setting>
   <setting name="DotNetProjectCtl_SuppressedVariables" serializeAs="String">
    <value>OutputSubdirectory;SingleFile</value>
   </setting>
  </FistCore.Generator.Properties.Settings>
	</applicationSettings>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>